<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        color: white;
        padding: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav a.active {
        color: #f00;
    }
</style>

<nav>
    <!-- navegacion antigua -->
    <!-- <a href=""></a>
    <a href="/hero"></a> -->
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contador</a>

    <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
    <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">Dragonball</a>
    <a routerLink='/dragonball-super' routerLinkActive='active'>Dragonball Super`</a>
</nav>